@import "reset.css";
@import "fonts.css";

:root {
  --major: #FFF;
  --minor: #D764FF;
}
* {
  box-sizing: border-box;
}
body {
 position: relative;
 font-family: 'AkzidenzGroteskPro', sans-serif;
 background: #000;
}

/*ОСНОВНОЙ БЛОК С ИНФОЙ*/
.wrapper {
  overflow: hidden;
}
.back {
  position: fixed;
  background-image:url(../img/background.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
  z-index: 10;
}
.text {
  position: relative;
  margin-left: 4.5%;
  margin-top: 2.6%;
  margin-bottom: 4.5%;
  z-index: 13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text h1 {
  font-size: 72px;
  font-weight: bold;
  color: var(--major);
  margin-bottom: 0.5%;
}
.text h2 {
  font-weight: bold;
  font-size: 36px;
  color: var(--major);
}
.info {
  display: flex;
  margin-top: 4%;
  align-items: flex-end;
  width: 58%;
  justify-content: space-between;
}
.info li {
  color: #FFF;
}

.info span {
  font-size: 72px;
  font-weight: bold;
}
.info li ul li:not(first-child) {
  margin-top: 30px;
}
.dopdata {
 display: flex;
 font-size: 20px;
 line-height: 26px;
 font-weight: lighter;

}
.dopdata p:first-child {
  margin-right: 50px;
}
.dopdata .time #bold {
  font-weight: bold;
  font-size: 24px;
}
.rectangle {
  height: 18px;
  width: 120px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.connection {
  margin-top: 2%;
  display:flex;
  align-items: center;
}
.connection li ul {
  display: flex;
  align-items: center;
}
.connection li ul li img {
  width: 36px;
  height: 36px;
  color: var(--minor);
}
.connection li ul li {
  margin-right: 20px;
}
.connection li {
  font-size: 20px;
  color: var(--minor);
}
.number {
  display: flex;

}
.lastnum {
  margin-left: 20px;
}
.bigflyer {
  position: absolute;
  width: 1026px;
  z-index: 2;

}
.smallflyer {
  position: absolute;
  z-index: 2;
  width: 453px;
  left: 391px;
  top: 304px;
  transform: scale(-1,1);
}


/*БЛОК С КОСОМОСОМ*/
.allgalaxy {
  width: 360px;
  height: 2000px;
  background-image: url(../img/cosmos.png);
  background-repeat: no-repeat;
  background-size: 360px 2000px;
  background-position: center;
  margin-left: 66%;
}
.scroll {
  width: 200px;
  height: 200px;
  margin-top: 90%;
  margin-left: 8%;
  animation: pulse 2s ease infinite;
}
.mars {
 display: block;
 width:  200px;
 height: 200px;
 margin-top: 18%;
 margin-left: -8%;
 animation: rotate 10s linear infinite;
}
.car {
  display: block;
  width:  300px;
  height: 300px;
  margin-top: 20%;
  margin-left: -5%;
  animation: bounceInLeft 5s ease infinite;
}
.earth {
  display: block;
  width:  200px;
  height: 200px;
  margin-top: 10%;
  animation: jello 2s ease infinite;

}
.carrot {
  display: block;
  width:  200px;
  height: 200px;
  margin-top: -8%;
  margin-left: 50%;
  animation: moveInRight 8s linear infinite;
}
.horse {
  display: block;
  width:  200px;
  height: 200px;
  margin-top: -30%;
  animation: moveforcarrot 4s linear infinite;
}
.arm {
  display: block;
  width:  400px;
  height: 400px;
  margin-top: -10%;
  margin-left: -13%;
  animation: wobble 7s ease infinite;
}
.nofall {
  display: block;
  width:  200px;
  height: 320px;
  margin-top: 6%;
  margin-left: 46%;
  animation: swing 4s ease infinite;
}
@keyframes pulse {
  0% {
  transform: scale(1,1);
  }
 50% {
   transform: scale(1.2, 1.2);
 }
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
     transform: rotate(30deg);
   }
   100% {
      transform: rotate(0deg);
    }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounceInLeft {

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  80% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  85% {
    transform: translate3d(-30px, 0, 0);
  }

  90% {
    transform: translate3d(20px, 0, 0);
  }

  95% {
    transform: translate3d(400px, 0, 0);
  }
  100% {
    transform: translate3d(400px, 0, 0);
  }
}
@keyframes moveInRight  {
  0% {
    transform: translate3d(0px);
  }
  25% {
    transform: translate3d(50px, -20px, -20px);
  }
  50% {
    transform: translate3d(100px, -40px, -40px);
  }
  100% {
    transform: translate3d(250px, -100px, -100px);
  }
}
@keyframes moveforcarrot {
  0% {
    transform: translate3d(-150px, 0px, 0px);
  }
  25% {
    transform: translate3d(0px, -20px, -20px);
  }
  50% {
    transform: translate3d(100px, -40px, -40px);
  }
  100% {
    transform: translate3d(350px, -100px, -100px);
  }
}
@keyframes wobble {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes jello {
  from,
  10%,
  to {
    transform: translate3d(0, 0, 0);
  }

  20% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  30% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  40% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  50% {
    transform: skewX(1.5deg) skewY(1.5deg);
  }

  60% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  70% {
    transform: skewX(0.4deg) skewY(0.4deg);
  }

  80% {
    transform: skewX(-0.2deg) skewY(-0.2deg);
  }
}


@media (max-width: 1920px) {
  .allgalaxy {
    width: 483px;
    height: 2751px;
    background-repeat: no-repeat;
    background-size: 483px 2751px;
    background-position: center;
    margin-bottom: -100px;
    margin-left: 67%;
    overflow: hidden;
    transform: translateY(-188px);
   }
  .back {
    position: fixed;
    background-image:url(../img/background.png);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
  }
  .text {
    margin: 61px 0 97px 157px;
  }
  .text h1 {
    font-size: 90px;
  }
  .text h2 {
    font-size: 50px;
  }
   p {
    font-size: 24px;
    line-height: 31px;
  }
  .info li ul li span {
    font-size: 90px;
    line-height: 90px;
  }
  .dopdata {
    transform: translate(-195px);
    display: flex;
    align-items: flex-end;
  }
  .dopdata .time #bold {
    font-weight: bold;
    font-size: 24px;
  }
  .info li ul li:not(first-child) {
    margin-top: 5px;
  }
  .info li ul {
    margin-bottom: -5px;
  }
  .info {
    margin-top: 170px;
  }
  .rectangle {
    width: 125px;
    height: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .bigflyer {
    width: 1350px;
    height: 830px;
    top: -13vw;
    left: -4vw;
  }
  .smallflyer {
    width: 608px;
    height: 572px;
    top: 19vw;
    left: 32vw;
  }
 .phone {
    display: none;
  }
  .scroll {
    width: 300px;
    height: 300px;
    margin-top: 95%;
  }
  .mars {
    width: 270px;
    height: 270px;
    margin-top: 12%;
    margin-left: -14%;
  }
  .car {
    margin-top: 5%;
  }
  .earth {
    width: 270px;
    height: 270px;
    margin-top: 4%;
    margin-left: -10%;
  }
  .carrot {
    width: 270px;
    height: 270px;
    margin-top: -5%;
    margin-left: 55%;
  }
  .horse {
    width: 270px;
    height: 270px;
    margin-top: -40%;
  }
  .arm {
    width: 500px;
    height: 500px;
    margin-top: -26%;
  }
  .nofall {
   width: 300px;
   height: 460px;
   margin-top: 7%;
  }
}
@media (max-width: 1850px) {
  .dopdata {
    transform: translate(-128px);
  }
}
@media (max-width: 1740px) {
  .dopdata {
    transform: translate(-94px);
  }
}
@media (max-width: 1680px) {
  .allgalaxy {
    width: 420px;
    height: 2392px;
    background-image: url(../img/cosmos.png);
    background-size: 420px 2392px;
    margin-left: 63%;
    transform: translateY(-55px);
    margin-bottom: 56px;
  }
  .back {
    background-image:url(../img/1680.png);
  }
  .text {
    margin: 60px 0 74px 100px;
  }
  .info {
    margin-top: 150px;
  }
  .dopdata {
    transform: translate(-85px);
  }
  .info li ul {
    margin-bottom: -3px;
  }
  .bigflyer {
    width: 1301px;
    height: 813px;
    top: -25vh;
    left: -11vw;
  }
  .smallflyer {
    top: 37vh;
  }
  .mars {
    margin-top: 0%;
    margin-left: -18%;
  }
  .car {
    margin-top: 0%;
    margin-left: -10%;
  }
  .carrot {
    width: 200px;
    height: 200px;
    margin-top: -24%;
    margin-left: 58%;
  }
  .horse {
    width: 200px;
    height: 200px;
    margin-top: -30%;
  }
  .arm {
    width: 400px;
    height: 400px;
    margin-top: -4%;
    margin-left: 0%;
  }
  .nofall {
   margin-top: -6%;
   margin-left: 50%;
  }
}
@media (max-width: 1622px) {
  .bigflyer {
    left: -16vw;
  }
  .dopdata {
    transform: translate(-57px);
  }
}
@media (max-width: 1590px) {
  .dopdata {
    transform: translate(-31px);

  }
}
@media (max-width: 1540px) {
  .bigflyer {
    left: -17vw;
  }
  .dopdata {
    transform: translate(-14px);
  }
}
@media (max-width: 1490px) {
  .bigflyer {
    left: -21vw;
  }
  .dopdata {
    transform: translate(-4px);
  }
}
@media (max-width: 1440px) {
   .allgalaxy {
     width: 419px;
     height: 2295px;
     background-image: url(../img/cosmos.png);
     background-size: 403px 2295px;
     margin-left: 62%;
  }
   .back {
     background-image:url(../img/1440.png);
   }
   .text {
     margin: 53px 0 75px 65px;
   }
   .info {
     margin-top: 140px;
   }
   .dopdata {
     transform: translate(30px);
   }
   .bigflyer {
       width: 1108px;
       height: 692px;
       top: -21vh;
       left: -9vw;
     }
     .smallflyer {
       width: 521px;
       height: 490px;
       top: 34vh;
     }
   .mars {
     margin-top: -5%;
     margin-left: -18%;
   }
   .car {
     margin-top: -5%;
     margin-left: -10%;
   }
   .arm {
     width: 350px;
     height: 350px;
     margin-top: -7%;
     margin-left: 0%;
   }
   .nofall {
    width: 270px;
    height: 400px;
    margin-top: 2%;
    margin-left: 50%;
   }
}

@media (max-width: 1366px) {
  .back {
    background-image:url(../img/background.png);
  }
  .allgalaxy {
    width: 352px;
    height: 2005px;
    background-image: url(../img/cosmos.png);
    background-size: 360px 2000px;
    margin-left: 67%;
    margin-bottom: 56px;
 }
  .text h1 {
    font-size: 72px;
  }
  .text h2 {
    font-size: 36px;
  }
   .info li {
     font-size: 20px;
     line-height: 26px;
   }
   .info li ul li span {
     font-size: 72px;
     margin-top: -50px;
   }
   .info li ul li:not(first-child) {
     margin-top: -18px;
   }
   .connection li {
     font-size: 20px;
   }
   p {
     transform: translate(-85px);
     font-size: 20px;
     line-height: 26px;
   }
   .rectangle {
     width: 90px;
     height: 14px;
     margin-bottom: 10px;
     margin-top: 20px;
   }
   .dopdata .time #bold {
     font-size: 20px;
   }
   .bigflyer {
     width: 1026px;
     height: 641px;
     left: -6%;
     top: -24%;
   }
   .smallflyer {
     width: 453px;
     height: 426px;
     top: 43vh;
     left: 34vw;
   }
   .number {
     margin-left: 85px;
   }
   .dopdata {
    font-size: 20px;
    line-height: 26px;
    font-weight: lighter;
  }
   .dopdata p:first-of-type {
     margin-right:  10px;
   }
    .time {
     transform: translate(-51px);
   }
   .info {
     display: flex;
     align-items: flex-end;
   }
   .info li ul {
     margin-bottom: -12px;
   }
   .scroll {
    width: 150px;
    height: 150px;
   }
   .mars {
     width: 200px;
     height: 200px;
     margin-top: 20%;
     margin-left: -18%;
   }
   .car {
     margin-top: 0%;
     margin-left: -10%;
   }
   .earth {
     width: 200px;
     height: 200px;
     margin-top: 4%;
     margin-left: -10%;
   }
   .carrot {
     width: 200px;
     height: 200px;
     margin-top: -24%;
     margin-left: 58%;
   }
   .horse {
     width: 200px;
     height: 200px;
     margin-top: -30%;
   }
   .arm {
     width: 350px;
     height: 350px;
     margin-top: -14%;
     margin-left: -10%;
   }
   .nofall {
    width: 200px;
    height: 320px;
    margin-top: 0%;
    margin-left: 50%;
   }
}


@media (max-width: 1280px) {
  .allgalaxy {
    width: 335px;
    height: 1908px;
    background-image: url(../img/cosmos.png);
    background-size: 335px 1908px;
    margin-left: 67%;
  }
  .back {
    background-image:url(../img/background.png);
  }
  .dopdata {
    transform: translate(82px);
    width: 492px;n;
  }
  .bigflyer {
    width: 994px;
    height: 620px;
    top: -22vh;
    left: -7vw;
  }
  .smallflyer {
    width: 453px;
    height: 426px;
  }
  .earth {
    margin-top: -5vh;
    margin-left: -10vw;
  }
  .carrot {
    margin-top: -24%;
    margin-left: 58%;
  }
  .horse {
    margin-top: -45%;
  }
  .arm {
    margin-top: -11%;
    margin-left: -10%;
  }
  .nofall {
   margin-top: -2%;
   margin-left: 50%;
  }
}
@media (max-width: 1188px) {
  .dopdata {
    transform: translate(102px);
  }
}
@media (max-width: 1188px) {
  .dopdata {
    transform: translate(122px);
  }
  .time {
    transform: translate(-82px);
  }
}

@media (max-width: 1024px) {
  .text {
    margin: 36px 0 47px 60px;
  }
  .info {
    margin-top: 100px;
  }
  .text h1 {
    font-size: 64px;
  }
  .text h2 {
    font-size: 32px;
  }
  .info li ul li span {
    font-size: 64px;
  }
  .back {
    background-image:url(../img/1024.png);
  }
  .dopdata {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(95px);
  }
  .time {
    transform: translate(-55px);
  }
  .dopdata p:first-child {
    margin-left: 32px;
    margin-bottom: 20px;
  }
  .bigflyer {
    width: 807px;
    height: 503px;
    top: -19vh;
    left: -18vw;
  }
  .smallflyer {
    width: 386px;
    height: 363px;
    top: 244px;
    transform: scaleX(-1,1);
    left: 260px;
  }
  .allgalaxy {
    width: 352px;
    height: 2005px;
    background-image: url(../img/cosmos.png);
    background-size: 352px 2005px;
    margin-left: 56%;
    margin-bottom: -22px;
  }
  .number {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
  }
  .connection {
    display: flex;
    align-items: flex-start;
  }
  .lastnum {
    margin-left: 0px;
    margin-top: 5px;
  }
  .dopdata p:first-child {
    margin-right: 0px;
  }
  .car {
    margin-left: -20%;
    margin-top: -10%;
    width: 300px;
    height: 300px;
  }
  .earth {
    margin-left: -10%;
    margin-top: 10%;
  }
  .arm {
    width: 330px;
    height: 330px;
    margin-left: -11%;
    margin-top: -10%;
  }
  .nofall {
    margin-top: 22%;
  }
}

@media (max-width: 768px) {
  .text {
    margin: 42px 0 42px 40px;
  }
  .otherinfo {
    margin-top: 398px;
  }
  .text h1 {
    font-size: 50px;
  }
  .text h2 {
    font-size: 30px;
  }
  .info  li ul li span {
    font-size: 56px;
   }
   .info li {
     font-size: 18px;
     line-height: 23px;
   }
   .connection li {
     font-size: 18px;
   }
   .dopdata .time #bold {
     font-weight: bold;
     font-size: 18px;
   }
  .allgalaxy {
     width: 520px;
     height: 2962px;
     background-image: url(../img/cosmos.png);
     background-size: 520px 2962px;
     margin-left: 17.5%;
     margin-bottom: 306px;
   }
   .back {
     background-image:url(../img/768.png);
   }
   .bigflyer {
     width: 784px;
     height: 397px;
     top: -18vh;
     left: -17vw;
     transform: rotate(17deg);
   }
   .smallflyer {
     width: 497px;
     height: 515px;
     top: 43vh;
     transform: scale(1,1);
     left: 30vh;
   }
   .rectangle {
     width: 80px;
   }
   .dopdata {
     display: flex;
     flex-direction: row;
     align-items: flex-end;
     width: 500px;
     margin-bottom: 80px;
     margin-left: -15px;
   }
   .dopdata p:first-child {
     margin-bottom: 0px;
   }
   .connection {
     margin-left: 127px;
     margin-top: -50px;
   }
   .scroll {
    width: 300px;
    height: 300px;
    margin-top: 358px;
   }
   .mars {
     width: 300px;
     height: 300px;
     margin-top: 45%;
   }
   .earth {
     width: 300px;
     height: 300px;
     margin-top: 19%;
     margin-left: -10%;
   }
   .carrot {
     width: 300px;
     height: 300px;
     margin-top: -15%;
   }
   .horse {
     width: 300px;
     height: 300px;
     margin-top: -40%;
   }
   .arm {
     width: 450px;
     height: 450px;
     margin-top: -11%;
     margin-left: -5%;
   }
   .nofall {
    width: 320px;
    height: 490px;
    margin-top: 16%;
    margin-left: 50%;
   }
}
@media (max-width: 710px) {
  .text h1 {
    font-size: 46px;
  }
  .text h2 {
    font-size: 26px;
  }
  .info  li ul li span {
    font-size: 54px;
   }
   .info li p {
     font-size: 16px;
     line-height: 21px;
   }
   .dopdata {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-bottom: 74px;
   }
   .connection li p {
     font-size: 16px;
     line-height: 21px;
   }
   .dopdata .time #bold {
     font-size: 16px;
   }
   .time {
     transform: translate(-53px);
     margin-top: 12px;
   }
   .bigflyer {
     left: -28vw;
   }
   .smallflyer {
     left: 16vh;
   }
}
@media (max-width: 635px) {
  .text h1 {
    font-size: 36px;
  }
  .text h2 {
    font-size: 21px;
  }
  .info  li ul li span {
    font-size: 54px;
   }
   .info li p {
     font-size: 16px;
     line-height: 21px;
   }
   .connection li p {
     font-size: 16px;
     line-height: 21px;
   }
   .dopdata .time #bold {
     font-size: 16px;
   }
   .dopdata {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-bottom: 74px;
   }
   .number {
     margin-left: 60px;
     margin-top: -71px;
   }
   .bigflyer {
     left: -42vw;
   }

}
@media (max-width: 607px) {
  .number {
    display: flex;
    flex-direction: row;
    margin-left: -265px;
    margin-top: 51px;
  }
  .lastnum {
    margin-top: 0px;
    margin-left: 23px;
  }
  .smallflyer {
    left: 16vh;
  }
}
@media (max-width: 475px) {
  .text {
    margin: 40px 0 20px 35px;
  }
  .otherinfo {
    margin-top: 362px;
  }
  .text h1 {
    font-size: 32px;
  }
  .text h2 {
    font-size: 18px;
  }
  .number {
    display: none;
  }
  .phone {
    display: initial;
    color: var(--minor);
  }
  .connection {
    margin-left: 119px;
  }
  .connection li ul li img {
    width: 24px;
    height: 24px;
  }
  .info li ul li:not(first-child) {
    margin-top: -28px;
  }
  .rectangle {
    width: 81px;
    height: 13px;
    margin: 25px 12px 20px 0;
  }
  .allgalaxy {
    width: 352px;
    height: 2280px;
    background-image: url(../img/cosmos.png);
    background-size: 414px 2300px;
    margin-left: 16%;
    margin-bottom: 360px;
    overflow: hidden;
  }
  .bigflyer {
    width: 484px;
    height: 259px;
    top: -21vw;
    left: -17vw;
  }
  .smallflyer {
    width: 381px;
    height: 400px;
    top: 81vw;
    left: 15vw;
}
  .scroll {
   width: 150px;
   height: 150px;
   margin-top: 305px;
   margin-left: 8%;
  }
  .mars {
    width: 200px;
    height: 200px;
    margin-top: 64%;
    margin-left: -9%;
  }
  .car {
    margin-top: 1%;
    margin-left: -10%;
  }
  .earth {
    width: 200px;
    height: 200px;
    margin-top: 15%;
    margin-left: 1%;
  }
  .carrot {
    width: 200px;
    height: 200px;
    margin-top: -5%;
  }
  .horse {
    width: 200px;
    height: 200px;
    margin-top: -48%;
  }
  .arm {
    width: 350px;
    height: 350px;
    margin-top: 5%;
  }
  .nofall {
   width: 250px;
   height: 400px;
   margin-top: 1%;
   margin-left: 40%;
  }

}
@media (max-width: 414px) {
  .otherinfo {
    margin-top: 413px;
  }
  .text h1 {
    font-size: 28px;
  }
  .text h2 {
    font-size: 16px;
  }
  .info li ul li span {
    font-size: 34px;
  }
   .info li {
     font-size: 14px;
     line-height: 18px;
   }
   .dopdata .time #bold {
     font-size: 14px;
   }
   .info li ul li:not(first-child){
     margin-top: -48px;
   }
   .info li ul {
     margin-bottom: -30px;
   }
   .allgalaxy {
     width: 414px;
     height: 2300px;
     background-image: url(../img/cosmos.png);
     margin-left: 0%;
     margin-bottom: 250px;
   }
   .back {
     background-image:url(../img/414.png);
   }
   .bigflyer {
     top: -16vw;
     left: -28vw;
   }
   .smallflyer {
     top: 93vw;
     left: -2vw;
   }
   .rectangle {
     width: 48px;
     height: 8px;
     margin: 32px 0 26px 0;
   }
   .dopdata {
     margin-bottom: -4px;
   }
  .time {
    margin-top: 4px;
  }
   .dopdata p {
     font-size: 14px;
     line-height: 18px;
   }
   .dopdata p:first-child {
     margin-bottom: 20px;
   }
   .connection {
     margin-left: 0px;
     margin-top: 20px;
   }
   .scroll {
    width: 170px;
    height: 170px;
    margin-top: 96%;
    margin-left: 8%;
   }
   .mars {
     width: 200px;
     height: 200px;
     margin-top: 25%;
     margin-left: -9%;
   }
   .car {
     margin-top: 15%;
     margin-left: -10%;
   }
   .earth {
     width: 200px;
     height: 200px;
     margin-top: 3%;
     margin-left: 1%;
   }
   .carrot {
     width: 200px;
     height: 200px;
     margin-top: -5%;
   }
   .horse {
     width: 200px;
     height: 200px;
     margin-top: -29%;
   }
   .arm {
     width: 350px;
     height: 350px;
     margin-top: -23%;
   }
   .nofall {
    width: 250px;
    height: 400px;
    margin-top: 24%;
    margin-left: 40%;
   }

}
@media (max-width: 360px) {
  .text {
    margin: 22px 0 16px 32px;
  }
  .otherinfo {
    margin-top: 225px;
  }
  .text h1 {
    font-size: 23px;
  }
   .connection li {
     font-size: 18px;
   }
   .allgalaxy {
     width: 360px;
     height: 2051px;
     background-image: url(../img/cosmos.png);
     background-size: 360px 2051px;
     margin-left: 0%;
     margin-bottom: 234px;
   }
   .back {
     background-image:url(../img/360.png);
   }
   .bigflyer {
     width: 412px;
     height: 221px;
     top: -30vw;
     left: -26vw;
     transform: rotate(17deg);
   }
   .smallflyer {
     width: 304px;
     height: 320px;
     top: 60vw;
     left: 9vw;

   }
   .dopdata {
     margin-bottom: 0px;
   }
   .dopdata p:first-child {
     margin-bottom: 10px;
   }
   .info li ul li span {
    font-size: 34px;
   }
   .info li ul li:not(first-child) {
     margin-top: -52px;

   }
   .info li ul {
     margin-bottom: -30px;
   }
   .rectangle {
     margin: 37px 0 30px 0;
   }
   .connection {
     margin-left: 0px;
     margin-top: 20px;
   }
   .scroll {
    margin-top: 272px;
    margin-left: 8%;
   }
   .mars {
     margin-top: 53%;
     margin-left: -9%;
   }

 .car {
   margin-top: 2%;
   margin-left: -10%;
 }
 .earth {
   margin-top: 3%;
   margin-left: 1%;
 }
 .carrot {
   margin-top: -5%;
 }
 .horse {
   margin-top: -38%;
 }
 .arm {
   margin-top: -30%;
 }
 .nofall {
  margin-top: 8%;
  margin-left: 40%;
 }

}
   @media (max-width: 320px) {
     .text {
       margin: 22px 0 16px 16px;
     }
       .otherinfo {
       margin-top: 182px;
     }
     .text h1 {
       font-size: 20px;
     }
     .text h2 {
       font-size: 14px;
     }
     .info li ul {
       margin-bottom: -33px;
     }
      .connection li {
        font-size: 18px;
      }
      .allgalaxy {
        width: 320px;
        height: 1820px;
        background-image: url(../img/cosmos.png);
        background-size: 320px 1820px;
        margin-left: 0%;
        margin-bottom: 154px;
      }
      .back {
        background-image:url(../img/320.png);
      }
      .bigflyer {
        width: 381px;
        height: 204px;
        top: -24vw;
        left: -30vw;
        transform: rotate(17deg);
      }
      .smallflyer {
        width: 256px;
        height: 270px;
        top: 76vw;
        left: 17vw;
      }
      .dopdata {
        transform: translateX(80px);
        margin-bottom: -6px;
      }
      .dopdata p {
        font-size: 12px;
        line-height: 15px;
      }
      .dopdata p:first-child {
        margin-bottom: 8px;
      }
      .connection {
        margin-left: 0px;
        margin-top: 20px;
      }
      .scroll {
       margin-top: 268px;
       margin-left: 8%;
      }
      .mars {
        width: 150px;
        height: 150px;
        margin-top: 41%;
        margin-left: -9%;
      }
    .car {
      margin-top: 2%;
      margin-left: -10%;
    }
    .earth {
      width: 150px;
      height: 150px;
      margin-top: 3%;
      margin-left: 1%;
    }
    .carrot {
      margin-top: -5%;
    }
    .horse {
      width: 200px;
      height: 200px;
      margin-top: -51%;
    }
    .arm {
      width: 300px;
      height: 300px;
      margin-top: -21%;
    }
    .nofall {
     width: 200px;
     height: 320px;
     margin-top: -12%;
     margin-left: 15;
    }
}
